<p>
    <img width="106" height="59" src="file:///C:/Users/BFARHO~1/AppData/Local/Temp/msohtmlclip1/01/clip_image002.jpg"/>
</p>
<p>
    <strong>URL:</strong>
    <a href="http://www.adobe.com/products/captivate.html">http://www.adobe.com/products/captivate.html</a>
</p>
<p>
    <strong>Cost to AHS: </strong>
    N/A
</p>
<p>
    <strong>Access: </strong>
It can be requested through the helpdesk or the    <a href="http://insite.albertahealthservices.ca/6562.asp" title="http://insite.albertahealthservices.ca/6562.asp">IT Customer Service Portal</a>.
</p>
<table border="1" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td width="83" rowspan="3" valign="top">
                <p>
                    <strong>Adobe</strong>
                </p>
                <p>
                    <strong>Captivate</strong>
                </p>
            </td>
            <td width="555" valign="top">
                <p>
                    <strong>Applicability</strong>
                </p>
                <p>
                    Flash based software for producing interactive eLearning modules. Make use of multimedia, text-to-voice and screen capture capabilities to
                    deliver responsive instructional content for a variety of devices.
                </p>
            </td>
        </tr>
        <tr>
            <td width="555" valign="top">
                <p>
                    <strong>Resources</strong>
                </p>
                <p>
                    Overview video <a href="http://tv.adobe.com/watch/new-in-adobe-captivate-8/what-is-adobe-captivate-8/">What is Adobe Captivate 8?</a>
                </p>
            </td>
        </tr>
        <tr>
            <td width="555" valign="top">
                <p>
                    <strong>Related Teams</strong>
                </p>
                <p>
eLearning Development CoP –                    <a href="https://share.ahsnet.ca/teams/elearning/eLearningDevelopmentCOP/SitePages/Captivate.aspx">SharePoint Intranet site</a>
                </p>
                <p>
                    Knowledge Management Infrastructure – <a href="mailto:kmi@albertahealthservices.ca">kmi@ahs.ca</a>
                </p>
            </td>
        </tr>
    </tbody>
</table>