<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CMap</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/custom.css') }}">
</head>
<body>
<div class="row" style="border: 1px solid blue; margin: 1px;">
    <h4 style="margin-left: 15px;">Information & Resources</h4>
</div>
<div class="row" style="border: 1px solid blue; margin: 1px;">
    <div class="col-md-1">
        <h5>Concept Map (CMAP)</h5>
    </div>
    <div class="col-md-2">
        <h5>Summary</h5>
        <p>Concept maps are graphical tools for organizing and representing knowledge. They include concepts, usually enclosed
            in circles or boxes of some type, and relationships between concepts indicated by a connecting line linking two
            concepts. Words on the line, referred to as linking words or linking phrases, specify the relationship between the
            two concepts. We define concept as a perceived regularity or pattern in events or objects, or records of events or
            objects, designated by a label.</p><br>
        <p>Concept maps have specific characteristics that distinguish them from other knowledge representation tools. Not
            every graph with text in its nodes is a concept map, and the literature (and the Web) are full of diagrams that
            are wrongly depicted as concept maps. We review some of the key characteristics of concept maps.</p>
    </div>
    <div class="col-md-1"><img src="../static/images/logo_comapping1.png" alt="CMap View" style="width:150px; height:80px;"></div>
</div>
<div class="row" style="border: 1px solid blue; margin: 1px;">
    <div class="col-md-1">
        <h5>Left Side</h5>
    </div>
    <div class="col-md-2">
        <h5>Resources</h5>
        <img src="../static/images/CmapAboutCmapsLarge.png" alt="CMap View" style="width:304px;height:228px;">
    </div>
    <div class="col-md-1">
    </div>
</div>

<div class="row" style="border: 1px solid blue; margin: 1px;">
    <div class="col-md-1">
    </div>
    <div class="col-md-2">
        <h5>Related Teams</h5>
        <p>Knowledge Management - <a href="mailto:km@ahs.ca?Subject=CMAP%20&%20KAMT" target="_top">km@ahs.ca</a> </p>
    </div>
    <div class="col-md-1">
    </div>
</div>
</body>
</html>