<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comapping</title>
    <style>
     h1   {color: black;
           font-family: verdana;
           border: 1px solid blue;
           margin: 1px;}
     h2   {color: blue;
           font-family: verdana;}
     h3   {color: purple;
           font-family: verdana;}
     p    {color: black;
           font-family: verdana;}
     li   {color: black;
           font-family: verdana;}
    </style>
</head>
<body>
<h1>Information & Resources</h1>
<h2>Solution or Tool: Comapping</h2>
<h2>Summary</h2>
<p>Comapping is online mind mapping software to manage and share information. Use it to take notes, plan and organize.
    It's a way to have one set of notes. One set of files. For everyone. <br>
    Map out your work. Map out your life. Become a Comapper.</p>
<h2>Resources</h2>
<p><a href="https://www.comapping.com/">Comapping Website </a></p>
<p><a href="http://go.comapping.com/comapping.html#trial=true">Online Demo</a></p>
<h2>Characteristics of Comapping</h2>
<p>Better way to take notes
<ul>
<li>One set of notes & files for you and your team.</li>
<li>Attach any file format to your notes.</li>
<li>Put all of your notes in one place.</li>
<li>Quickly share important information with your team, clients or suppliers.</li>
<li>Great for Meetings, Seminars, and Brainstorming.</li>
</ul>
</p>
<h2>Related Teams</h2>
<p>Knowledge Management - <a href="mailto:km@ahs.ca?Subject=CMAP%20&%20KAMT" target="_top">km@ahs.ca</a> </p>
</body>
</html>