<!DOCTYPE html>
<html lang="en">
    <head>
        <title>JSON sample</title>
    </head>

<script type="text/javascript">
var xmlhttp = new XMLHttpRequest();
var url = "https://extranet.ahsnet.ca/teams/scndp/_api/lists/getbytitle('Project%20Tasks')/items";

xmlhttp.onreadystatechange = function() {
    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
        var myArr = JSON.parse(xmlhttp.responseText);
        myFunction(myArr);
    }
};
xmlhttp.open("GET", url, true);
xmlhttp.send();

function myFunction(arr) {
    var out = "";
    var i;
    for(i = 0; i < arr.length; i++) {
        out += '<a href="' + arr[i].url + '">' +
        arr[i].display + '</a><br>';
    }
    document.getElementById("id01").innerHTML = out;
}
</script>
<body>
<div id="id01"></div>
</body>
</html>