<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Lessons Learned</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/custom.css') }}">
</head>

<body>

<table cellspacing="0" cellpadding="0" border="1">
    <tbody>
        <tr>
            <td rowspan="3" width="83" valign="top">
                <p>
                    <strong>Lessons</strong>
                </p>
                <p>
                    <strong>Learned</strong>
                </p>
                <p>
                    <strong>Repository</strong>
                </p>
            </td>
            <td width="555" valign="top">
                <p>
                    <strong>Applicability</strong>
                </p>
                <p>
                    Lessons learned are any experiences (positive or negative) gained from executing a project that should be taken into consideration for
                    future projects. The purpose is to collectively accumulate wisdom in order to identify actions or decisions that will reduce potential risk
                    and/or reinforce positive results.
                </p>
                <p>
                    Lessons learned can be identified and documented at any point during the project's life cycle, but more formal sessions are typically held
                    near the completion of the project.
                </p>
                <p>
                    Collections of lessons learned are held in a lessons learned repository for future reference. Simple, locally-accessible repositories can
                    be easily set up in an Excel spreadsheet; while more enterprise-wide repositories can be established using collaborative tools such as
                    SharePoint.
                </p>
            </td>
        </tr>
        <tr>
            <td width="555" valign="top">
                <p>
                    <strong>Resources</strong>
                </p>
                <p>
Project Management Institute (2013). <em>A Guide to the</em>                    <em>Project Management Body of Knowledge (PMBOK Guide) 5<sup>th</sup> edition.</em>
                </p>
                <p>
                    <em>A Guide to Project Lessons Learned: </em>
                    A 5-page primer by Clinical Project Support Services.
                    <a href="http://insite.albertahealthservices.ca/assets/km/tms-km-cpss-guide-to-project-lessons-learned.pdf">
                        http://insite.albertahealthservices.ca/assets/km/tms-km-cpss-guide-to-project-lessons-learned.pdf
                    </a>
                </p>
            </td>
        </tr>
        <tr>
            <td width="555" valign="top">
                <p>
                    <strong>Related Teams</strong>
                </p>
                <p>
                    Clinical Project Support Services <a href="mailto:KM@ahs.ca">KM@ahs.ca</a>
                </p>
            </td>
        </tr>
    </tbody>
</table>
