<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>nVivo</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/custom.css') }}">
</head>

<body>

<p>
    <img width="88" height="99" src="{{ url_for('static', filename='data/nVivo.png') }}">
</p>

<p>
    <strong>URL:</strong>
    <a href="http://www.qsrinternational.com/nvivo-product">http://www.qsrinternational.com/nvivo-product</a>
</p>
<p>
    <strong>Cost to AHS: </strong>
    AHS Enterprise License
</p>
<p>
    <strong>Access: </strong>
It can be requested through the helpdesk or the    <a href="http://insite.albertahealthservices.ca/6562.asp" title="http://insite.albertahealthservices.ca/6562.asp">IT Customer Service Portal</a>.
</p>
<table cellspacing="0" cellpadding="0" border="1">
    <tbody>
        <tr>
            <td rowspan="3" width="83" valign="top">
                <p>
                    <strong>NVivo</strong>
                </p>
            </td>
            <td width="555" valign="top">
                <p>
                    <strong>Applicability</strong>
                </p>
                <p>
                    NVivo is software used to support qualitative and mixed methods research and reporting through providing a platform to organize the sources
                    of unstructured or semi-structured text based data that form the basis of a large scale research project or qualitative analysis. Use the
                    software to, store links to the sources; organize the content into themes identified during the analysis; and to illustrate links where
                    themes appear in more than one of the sources. NVivo can be used by individual or teams to take notes; map the flow of the project; or
                    generate queries to identify the relationship between qualitative themes and the quantitative data in a mix method analysis. Use NVivo to
                    compose a report detailing findings; run queries to report on and export illustrations of query results.
                </p>
            </td>
        </tr>
        <tr>
            <td width="555" valign="top">
                <p>
                    <strong>Resources</strong>
                </p>
                <p>
                    <a href="http://www.qsrinternational.com/what-is-nvivo">What Is NVivo</a>
                </p>
                <p>
                    <a href="http://download.qsrinternational.com/Document/Drowning%20in%20information.pdf">QSR - Drowning in Information</a>
                </p>
            </td>
        </tr>
        <tr>
            <td width="555" valign="top">
                <p>
                    <strong>Related Teams</strong>
                </p>
                <p>
                    Knowledge Management <a href="mailto:km@albertahealthservices.ca">km@albertahealthservices.ca</a>
                </p>
            </td>
        </tr>
    </tbody>
</table>
