<p>
    <img src="file:///C:\Users\BFARHO~1\AppData\Local\Temp\msohtmlclip1\01\clip_image001.png" width="157" height="52"/>
</p>
<p>
    <strong>URL:</strong>
    <a href="https://refworks.proquest.com/">https://refworks.proquest.com/</a>
</p>
<p>
    <strong>Cost to AHS: </strong>
    Licensed to AHS
</p>
<p>
    <strong>Access: </strong>
    Web based access
</p>
<table cellspacing="0" cellpadding="0" border="1">
    <tbody>
        <tr>
            <td rowspan="3" width="83" valign="top">
                <p>
                    <strong>RefWorks</strong>
                </p>
            </td>
            <td width="555" valign="top">
                <p>
                    <strong>Applicability</strong>
                </p>
                <p>
                    Refworks is an online reference management tool designed to gather, organize, share, and cite all types of research papers and documents.
                </p>
            </td>
        </tr>
        <tr>
            <td width="555" valign="top">
                <p>
                    <strong>Resources</strong>
                </p>
                <p>
                    User Guide <a href="http://proquest.libguides.com/newrefworks">http://proquest.libguides.com/newrefworks</a>
                </p>
                <p>
Training Videos                    <a href="https://www.youtube.com/channel/UCzmTj_AGeY59VoNv-0SvcCg">https://www.youtube.com/channel/UCzmTj_AGeY59VoNv-0SvcCg</a>
                </p>
            </td>
        </tr>
        <tr>
            <td width="555" valign="top">
                <p>
                    <strong>Related Teams</strong>
                </p>
                <p>
                    Knowledge Resource Service – <a href="mailto:krs@albertahealthservices.ca">krs@albertahealthservices.ca</a>
                </p>
            </td>
        </tr>
    </tbody>
</table>
