<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>nVivo</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/custom.css') }}">
</head>

<body>

<p>
    <img width="88" height="99" src="{{ url_for('static', filename='images/sharePoint.png') }}">
</p>

<p>
    <strong>URL:</strong>
    <a href="https://share.ahsnet.ca/Pages/Directory.aspx">https://share.ahsnet.ca/Pages/Directory.aspx</a>
</p>
<p>
    <strong>Cost to AHS: </strong>
    AHS Enterprise License
</p>
<p>
    <strong>Access: </strong>
Web-based application and can be accessed via browsers.
</p>
<table cellspacing="0" cellpadding="0" border="1">
    <tbody>
        <tr>
            <td rowspan="3" width="83" valign="top">
                <p>
                    <strong>SharePoint</strong>
                </p>
            </td>
            <td width="555" valign="top">
                <p>
                    <strong>Discerption</strong>
                </p>
                <p>
                    Microsoft SharePoint is a browser-based collaboration and document management platform from Microsoft.
                    It allows groups to set up a centralized, password protected space for document sharing and collaboration.
                    It is highly configurable and usage varies substantially between organizations.
                </p>
            </td>
        </tr>
        <tr>
            <td width="555" valign="top">
                <p>
                    <strong>Resources</strong>
                </p>
                <p>
                    <a href="https://extranet.ahsnet.ca/teams/KAMT/HAT/SitePages/Home.aspx">https://extranet.ahsnet.ca/teams/KAMT/HAT/SitePages/Home.aspx</a>
                </p>
                <p>
                    <a href="https://extranet.ahsnet.ca/teams/SPCom/SitePages/Home.aspx">https://extranet.ahsnet.ca/teams/SPCom/SitePages/Home.aspx</a>
                </p>
            </td>
        </tr>
        <tr>
            <td width="555" valign="top">
                <p>
                    <strong>Related Teams</strong>
                </p>
                <p>
                    Web Presence and Collaboration Services
                </p>
                <p>
                    Knowledge Management Infrastructure <a href="mailto:km@albertahealthservices.ca">km@albertahealthservices.ca</a>
                </p>
            </td>
        </tr>
    </tbody>
</table>
